

*{
    padding: 0;
    margin: 0;
}

.home {
    background-image: url("Pexels Photo by Peter Olexa.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .welcome{
    font-family: 'Hurricane', cursive;
    font-size: 20em;
    text-shadow: 5px 5px white;
  }
  .nav {
    width: 80vw;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 5vh;
    
    justify-content: center;
    position: fixed;
    top: 10px;
  }
  
.nav_l{
    display: flex;
    list-style-type: none; 
  padding: 0; 
  margin: 0;
  font-size: 20px;
}

.home_l{
    padding: 10px 20px 10px 20px;
    margin-right: 65%;
}

button{
    background-color: transparent;
    border: 1px solid snow;
    border-radius: 5px;
    padding: 20px;
}

.sec{
    padding: 10px;
}
  .contents {
    height: 500px;
    background-color: antiquewhite;
  }
  

button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 20px solid snow;
}